<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<meta charset="utf-8">
<title>Git Notes</title>
</head>

<body>
<div id="body">

<div id="navbar">
<ul>
  <li><a href="../index.html">Home</a></li>
  <li><a href="git-notes.html">Git Notes</a></li>
  <li><a href="css-notes.html">CSS Notes</a></li>
  <li><a href="marill.html">Marill</a></li>
  <li> <a href="https://codepen.io/atadsp/" target="_blank"> Code Pen </a></li>
</ul>
</div>
<h1> Git Notes </h1>

<h3> Local </h3>
    <ul>
        <li> Locally means that things are happening on just my computer </li>
        <li> Local commits back up to a local repository and other can not access until we push to remote </li>
    </ul>

<h3> Remote </h3>
    <ul>
        <li> Remote means your browser connects to an online server </li>
        <li> Remote repositories can accessed by fellow team members (private repo) or publicly (public repo) </li>
    </ul>

<h3> Local Set Up </h3>
    <ol> 
        <li> open command line </li>
        <li> </li>
        <li> </li>
        <li> </li>
    </ol>
<hr>

<h3> Local Commits</h3>
    <ol> 
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
    </ol>
</div>
</body>
</html>
