<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<meta charset="utf-8">
<title>Marill</title>
</head>

<body>
<div id="body">
    <div class="marill">
      <div class="body">
        <div class="white_spot"> </div>
        <div class="eyes lefteye"> 
          <div class="inner_eye"> 
          </div></div>
        <div class="eyes righteye"> 
          <div class="inner_eye">
          </div></div>
        <div class="mouth"> </div>
        <div class="nose"> </div>
      </div>
      <div class="ear leftear">
        <div class="inner_ear">
        </div> </div>
      <div class="ear rightear">
        <div class="inner_ear">
        </div> </div>
      <div class="arm left_arm"> </div>
      <div class="arm right_arm"> </div>
      <div class="foot left_foot"> </div>
      <div class="foot right_foot"> </div>
      <div class="tail"> </div>
    </div>
</div>
</body>
</html>
